<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hbjia.level2" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".crash.CrashApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".asynctaskandprogress.SavedInstanceStateUsingActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_saved_instance_state_using" >
        </activity>
        <activity
            android:name=".asynctaskandprogress.FragmentRetainDataActivity"
            android:label="@string/title_activity_fragment_retain_data"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".asynctaskandprogress.FixProblemActivity"
            android:label="@string/title_activity_fix_problem" >
        </activity>
        <activity
            android:name=".imageviewer.ImageViewActivity"
            android:label="@string/title_activity_image_view" >
        </activity>
        <activity
            android:name=".customview.DeleteListActivity"
            android:label="QQ"
            android:logo="@drawable/notify_general" >
        </activity>
        <activity
            android:name=".crash.CrashMainActivity"
            android:label="@string/title_activity_crash_main" >
        </activity>
    </application>

</manifest>
